<div class="user-post">
    <div>
     	<span class="first-name">{{firstName}}</span> <span class="last-name">{{lastName}}</span> <span class="year"><i>{{year}}</i></span> <span class="major"><i>{{major}}</i></span>
    </div>
    <div>
        <p class="user-comment">{{comment}}</p>
    </div>
</div>